<app-loja></app-loja>
<div class="card rounded shadow-sm p-2">
  <div class = "d-flex">
    <div class = "flex-fill pr-3">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Filtro: </div>
      </div>
      <input type ="text" class="form-control mr-3" placeholder = "buscar" [(ngModel)]="filtroLista">
      <a class="d-flex btn btn-outline-primary" routerLink="lojas/cadastrar">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block" >Novo</b>
      </a>
    </div>
  </div>


  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>CNPJ</th>
        <th>Razão Social</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf='lojas && lojas.length'>
      <tr *ngFor='let loja of lojasFiltradas'>
        <td>{{loja.id}}</td>
        <td>{{loja.cnpj}}</td>
        <td>{{loja.razaoSocial}}</td>
        <td>{{loja.nomeFantasia}}</td>
        <td>{{loja.telefone}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2" (click)= "cadastrarLoja(loja.id)">
            <i class="fa fa-edit"></i> Editar</button>
          <button type="button" class="btn btn-danger btn-sm  mr-2" (click)="openModal(template)">
            <i class="fa fa-trash"></i> Remover</button>

        </td>
      </tr>
    </tbody>
    <tfoot *ngIf='!lojas.length'>
      <tr>
        <td colspan="6" class="text-center">
        <h4>Nenhuma loja encontrada</h4></td>
      </tr>
    </tfoot>
  </table>

  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer deletar esta loja?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>






